*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
}
body{
font-family: "Nunito", sans-serif;

}
header{
    box-shadow: 0 6px 11px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: white;
    z-index: 1;
}
.res-ul li {
    font-size:14px;
  }
  .res-btn {
    font-size:14px;
  }
.dropdown-menu .nav-link{
    color: rgb(33, 37, 41);
}
.dropdown-menu a:hover{
    color: #407BFF;
    background-color: white;
}
.dropdown-menu .nav-link:hover{
    color: #407BFF;
    background-color: white;
}
.btn ,.button{
    border-radius: 30px;
    padding: 5px 25px;
}
.button{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 7px 25px;
}
.button:hover{
    color: #000000;
    border: 1px solid #000000;   
}
.nav-item{
    margin-left: 10px;
}
nav .active{
    color: #407BFF !important;
}
/* home-sec */
.bg-clr{
    background: rgba(64, 123, 255, 0.07);
    display: inline;
}
.btn-sec a button,.clr{
   padding: 15px 30px;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 700;
   transition: all 0.8s ease;
}
.dots{
    position: absolute;
    z-index: -1;
    left: 82%;
    width: 18%;
    top: 144px;
}
.dots-img{
    position: absolute;
    right: 0;
}
/* /hero section #1 */
.hero-sec,.footer{
    padding: 100px 0;
}
.img-logo{
    max-width: 56px;
    border-radius: 100%;
}
.img-shadow {
    border: 10px solid #ffffff;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
}
.col-lg-7 a:hover{
    color: #0056b3;
}
.btn-video:hover{
    background: rgba(0, 0, 0, 0.1)
}
.btn-icon >svg{
    margin: 16px 17px;
}
.btn-icon{
    position: absolute;
    top: 948px;
    left: 66%;
    width: 50px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
}
/* /hero section #2 */
.icon-1,.icon-2,.icon-3,.icon-4{
    color: #ffffff;
    width: 85px;
    height: 50px;
    border-radius: 30%;
    position: relative;
    
}
.icon-1 svg,.icon-2 svg,.icon-3 svg,.icon-4 svg{
    font-size: 24px;
    position: absolute;
    left: 13px;
    top: 13px;
}
 p,label{
    font-size: 16px;
    color: #939393;
}
h3{
    font-size: 18px;
    color: #000000;
}
.carousel button:hover{
    background-color: #ffffff !important;
    border-radius: 7px !important;
}
.carousel-caption{
    background: #007bff ;
    color: white;
    border-radius: 50%;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
    left: 46%;
    width: 57px;
    height: 57px;
} 
button.active{
    background-color: white !important;
    border-radius: 7px !important;
    border-right: 4px solid #007bff !important;
}
/* hero section #4 */
ul li{
    list-style: none;
}
.card-box ul li{
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    color: #939393;
}
ul li .blu-clr{
    position: absolute;
    left: 0;
}
.card-box{
    background: #ffffff;
    border-radius: 43px;
    padding: 50px;
}
.row-cols-1 .col{
    padding-left: 35px;
    padding-right: 35px;
}
.blu-clr{
color: #407BFF;
}
.sec-btn{
    font-size: 11px;
    padding: 15px 30px;
    text-transform: uppercase;
}
/* hero section#5 */
.text-box{
    font-size: 13px;
    text-align: start;
    text-decoration: none;
}
.box{
    background-color: rgba(64, 123, 255, 0.1);
    height: 12px;
    width: 20px;
    position: absolute;
    cursor: pointer;
}
.box:hover{
    width: 80px;
}
  /* hero section#6 */
  .arrow-bar{
    font-size: 24px;
    width: 43px;
    height: 40px;
    background: #ccc;
    color: #ffffff;
    border-radius: 4px;
  }
  .arrow-icon{
    padding-top: 8px;
    padding-left: 5px;
  }
  .arrow-bar:hover{
    background-color: #007bff;
  }
  #slider{
    display: inline-flex;
    transition: 0.5s;
}
.slider-nav{
      width: 346px;
      margin-right: 25px;
  }
  .control{
    margin-top: 20px;
    text-align: center;
}
.control .hide{
   cursor: pointer;
}
  /* hero-sec7 */

 .caption{
  text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .1rem;
}
.about-sec ul li .blu-clr{
    position: unset;
}
/* hero-sec8 */
.light-clr{
    font-size: 13px;
    color: #c6c6c6;
    display: block;
    margin-bottom: 20px
}

.card{
    background: #ffffff;
    padding: 20px 34px;
    margin: 10px;
    border: none;
}
.arrow-box{
    background-color: #f8f9fa;
    position: absolute;
    height: 25px;
    width: 25px;
    border: 2px solid #f8f9fa;
    right: 450px;
}
.arrow-box:hover{
    background-color: #007bff;
  }
.card:hover{
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.5rem);
}
h3 a{
    color: #000000;
}
h3 a:hover{
  color: #007bff;
}
.box1{
    background-color: rgba(64, 123, 255, 0.1);
    height: 25px;
    width: 29px;
    position: absolute;
    left: 50px;
    cursor: pointer;
}
.box1:hover{
    background-color: #007bff;
}
.arrow:hover{
 transform: translateX(25px);
}
.arrow{
    font-size: 30px;
    z-index: 1;
    color: #000000;
    margin-left: -240px;
}
/* hero-sec#9 */
.last-ul li a span{
    color: #000000;
}
.last-ul li a{
    text-decoration: none;
}
.last-ul li a span:hover{
    color: #007bff;
}
.form-control{
    border: none;
    border-bottom: 1px solid #43434d;
    border-radius: 0;
}
.form-control:focus{
    border-bottom: 1px solid #007bff;
}
/* hero-sec10 */
.footer h3{
    font-size: 16px;
}
.icon-ul a{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    background: #777;
    border-radius: 50%;
    color: #ffffff;
    padding: 7px;
}
.icon-ul li{
    padding: 2px;
}
.icon-ul a:hover{
    background-color: #007bff;
    color: #fff
}
.get ul li{

    margin-bottom: 10px;
}
.get ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #777
}
.get ul li a:hover{
    color:  #939393;
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInright {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .animation{
  animation: 1s ease-out 0s 1 slideInbottom;
  }
  @keyframes slideInbottom {
    0% {
      transform: translateY(30%);
    }
    100% {
      transform: translateY(0);
    }
  }
 